/*Body*/

body{
    margin: 0px;
    padding-top: 50px;
    background-color: grey;
    display: flex;
    justify-content: center;
    font-style: none;
    background-image: url(images/stars.avif);
    background-size: cover;      /* se adapta y cubre todo */
    background-repeat: no-repeat;/* no se repite */
}

a{
    text-decoration: none; /* Quita la línea */
    color: white; /* Cambia el color (ej. negro) */
}

/*Background*/

.background{
    width: 1400px;
    height: 800px;
    background-image: url(images/gif.gif);
    background-size: cover;      /* se adapta y cubre todo */
    background-repeat: no-repeat;/* no se repite */
}

/*Container*/

.container-1{
    border-radius: 20px;
    border: solid 10px rgb(77, 77, 77);
    margin: 24px 0 0 64px;
    background: linear-gradient(to top , #5e5e5ef4, #00000071);    
    text-align: center;
    width: 290px;
    height: 550px;
    align-items: center;
    padding: 6px;
}

/*Buttons*/

.button{
    margin: 30px 30px 30px 30px;
    border-radius: 5px;
    padding: 0.1px;
    align-items: center;
    text-align: center;
    background: linear-gradient(to top, #636363, #ffffff5b);    
    border: solid 3px rgb(59, 59, 60);
}


/*Palabras*/

.container-1 h1{
    font-size: 33px;
    color: rgb(255, 255, 255);
    font-weight: 400px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
.button p{
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-weight: 300px;
}


/*Slider*/


.productos {
  padding: 40px;
  position: absolute;
  top: 150px;
  left: 500px;
}

.productos h2 {
  margin-bottom: 20px;
  font-size: 28px;
}

/* Slider */
.slider {
  position: relative;
  width: 820px;       /* ancho visible del slider */
  margin: auto;
  overflow: visible;   /* esconde lo que está fuera */
}

/* Track que se desplaza */
.slider-track {
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  padding: 10px 0;
}

.slider-track::-webkit-scrollbar {
  display: none;
}

/* Tarjetas */
.card {
  flex: 0 0 400px;  /* ancho fijo de tarjeta */
  height: 250px;
  background: linear-gradient(to bottom, #1e1e1e, #6b7280);
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.badge {
  position: absolute;
  bottom: 15px;
  left: 15px;
  background: #e5e5e5;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 14px;
}

/* Flechas */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #e5e5e5;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  z-index: 10;
}

.arrow.left {
  left: -20px;   /* ajusta según tu diseño */
}

.arrow.right {
  right: -15px;  /* ajusta según tu diseño */
}

/* Barra de progreso (opcional) */
.progress-bar {
  width: 200px;
  height: 6px;
  background: #ccc;
  border-radius: 10px;
  margin: 20px auto 0;
}
